* {
  font-size: 14px;
  font-family: monospace;
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#workspaces,
#clock.1,
#idle_inhibitor,
#custom-weather,
#clock.2,
#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#battery,
#tray {
  background: #1a1a1a;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}

#workspaces button.focused {
  color: #268bd2;
}

#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
  box-shadow: inherit;
  text-shadow: inherit;
}

@keyframes cblink {
  to {
      background-color:#f53c3c;
      color: #ffffff;
    }
}
@keyframes wblink {
  to {
    color: #ffffff
  }
}

#pulseaudio {
  color: #268bd2;
}

#memory {
  color: #2aa198;
}

#memory.warning {
    animation-name: wblink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.critical {
    color: #f53c3c;
    animation-name: cblink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: #6c71c4;
}

#cpu.warning {
    animation-name: wblink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.critical {
    color: #f53c3c;
    animation-name: cblink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature {
  color: #ffa500;
}

#battery {
  color: #859900;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: cblink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#battery,
#disk {
  padding: 0 10px;
}

#clock.1,
#idle_inhibitor,
#custom-weather,
#clock.2 {
  padding: 0 5px;
}

